@import "tailwindcss";


@theme{
  /* body colors */
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-tertiary: #000000;

  /* padding */
--padding-1: 1rem;
--padding-2: 2rem;
--padding-3: 3rem;
--padding-4: 4rem;
--padding-5: 5rem;
--padding-6: 6rem;
--padding-7: 7rem;
--padding-8: 8rem;
--padding-9: 9rem;
--padding-10: 10rem;
  
  
  /* margin */
  --margin-1: 1rem;
  --margin-2: 2rem;
  --margin-3: 3rem;
  --margin-4: 4rem;
  --margin-5: 5rem;
  --margin-6: 6rem;
  --margin-7: 7rem;
  --margin-8: 8rem;
  --margin-9: 9rem;
  --margin-10: 10rem;
}